.cartaz {
    padding: 80px 20%;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-texto); 
}


/*abas*/

.cartaz__abas {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 40px;
}

.cartaz__abas a {
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
    font-size: var(--font-size-m);
    text-decoration: none;
    padding-bottom: 0.4rem;
    transition: 0.5s;
}

.cartaz__abas a:hover {
    color: var(--cor-texto-destaque);
}

.cartaz__abas__ativo {
    font-weight: 700;
    border-bottom: solid 2px var(--cor-texto);
}

.cartaz__abas__ativo:hover {
    border-bottom: solid 2px var(--cor-texto-destaque);
}


/*busca*/

.cartaz__busca {
    text-align: center;
    padding-bottom: 40px;
}

.cartaz__busca input {
    background-color: transparent;
    border: solid 2px var(--border-color);
    padding: 13.5px 24px;
    border-radius: 10px;
    width: 50%;
    outline: none;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
    transition: 0.5s;
}

.cartaz__busca input:hover {
    scale: 1.05;
}

.cartaz__busca input::placeholder {
    color: var(--cor-texto);
    font-size: var(--font-size-s);
}


/*em cartaz*/

.cartaz__emcartaz {
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
    padding-bottom: 40px;
}


/*posters*/

.cartaz__posters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

.cartaz__posters__poster {
    box-shadow: 0px 0px 15px #00000050;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    text-decoration: none;
    color: var(--cor-texto);
}

.cartaz__posters__poster:hover {
    scale: 1.05;
}

.cartaz__posters__imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartaz__posters__titulo {
    font-size: var(--font-size-m);
    padding: 16px;
    height: 100%;
}

.cartaz__posters__descricao {
    padding: 16px;
    height: 100%;
    display: grid;
    grid-template-areas:
    "genero tipo"
    "duracao class";
    font-size: var(--font-size-s);
    gap: 5px;
}

.cartaz__posters__genero {
    grid-area: genero;
    align-self: center;
}

.cartaz__posters__duracao {
    grid-area: duracao;
    align-self: center;
}

.cartaz__posters__tipo {
    grid-area: tipo;
    justify-self: end;
    align-self: center;
}

.cartaz__posters__class {
    grid-area: class;
    justify-self: end;
    align-self: center;
}

.tipo-2d {
    background-color: var(--cor-de-fundo-faixa-etaria);
    padding: 5px 10px;
    border-radius: 5px;
}

.tipo-3d {
    background-color: var(--border-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.class-livre {
    background-color: var(--cor-faixa-etaria-livre);
    padding: 5px 10px;
    border-radius: 5px;
}

.class-amarelo {
    background-color: var(--cor-faixa-etaria);
    padding: 5px 10px;
    border-radius: 5px;
}


/*responsividade*/

@media screen and (max-width: 1700px) {
    .cartaz {
        padding: 80px 10%;   
    }
}

@media screen and (max-width: 1200px) {
    .cartaz {
        padding: 80px 5%;   
    }
    .cartaz__busca input {
        width: 100%;        
    }
    .cartaz__emcartaz {
        font-size: var(--font-size-l);
    }
}

@media screen and (max-width: 750px) {

}